/*
	Theme Name: Basic Theme
	Author: Stuart Last
	Author URI: http://stulast.co.uk
	Description: Basic Wordpress Theme
	Version: 1.0
	License: MIT - see LICENSE file for details
*/

body {
	font-family: Arial;
	font-size:15px;
	color:#333;
	background:#f4f4f4;
	margin:0;
	padding:0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

main a {
	color:#333;
}

header {
	background: #393939;
	color:#fff;
	padding:20px 10px;
}

header h1 {
	color:#fff;
	margin:0;
	padding:0;
	padding-bottom: 10px;
}

.first-word {
	color: #0df6cc;
	font-weight: bold;
}

.container {
	width:1020px;
	margin:0 auto;
	overflow:auto;
}

.clr {
	clear:both;
}

.main {
	margin:15px 0;
	float:left;
	width:68%;
}

.sidebar{
	float:right;
	width:28%;
}

footer {
	background: #393939;
	color:#fff;
	padding:10px 10px;
	text-align: center;
}

article.post {
	border-bottom:1px #ccc solid;
	overflow:hidden;
	padding-bottom:20px;
}

article.post a.button {
	display:inline-block;
	background:#333;
	color:#fff;
	padding:10px 5px;
	margin-bottom: 10px;
	text-decoration: none;
}

.meta {
	background:#333;
	color:#fff;
	padding:5px;
}

.meta a {
	color:#fff;
}

.post-thumbnail img {
	width:100%;
	height:auto;
}

.main-nav {
	background:#000;
	color:#fff;
	padding:5px;
}

.main-nav ul {
	margin:0;
	padding:0;
}

.main-nav li {
	list-style: none;
	float:left;
	padding-right:15px;
}

.main-nav a {
	color:#fff;
	text-decoration: none;
}

.side-widget {
	border:1px #393939 solid;
	margin-bottom:20px;
	margin-top:20px;
}

.side-widget .side-widget-title {
	padding: 5px 10px;
	text-align: center;
	background: #393939;
	color: #0df6cc;
}

.side-widget ul {
	padding:0;
	margin:0;
}

.side-widget li {
	display: block;
	padding: 0 5px;
	list-style: none;
	line-height:2.2em;
	border-bottom:dotted 1px #ccc;
}

.side-widget a {
	color: #393939;
}

.search-form {
	padding: 5px 10px;
	font-family: Arial;
	color: #393939;
}

footer .container a {
color: #fff;
}